extends layout 
block content
    .container-home
        //- h2.automk Mirsevini në AutoMK
        .foto-banner        
            img(src="https://scontent.fskp4-2.fna.fbcdn.net/v/t39.30808-6/298460714_2344141982403765_1087725370916905389_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=amihFbLa_4IAX8mKmYc&tn=lFpvbG5WwsNUtduM&_nc_ht=scontent.fskp4-2.fna&oh=00_AT9_qqPvvCPJJpC5cPMPoNAfAda3zWKP_tBtJTRLgMuAcA&oe=631F8B4D", alt="")
        .foto-falas
            a(href="/products/create")
                img(src="https://scontent.fskp4-1.fna.fbcdn.net/v/t39.30808-6/297871500_2344141979070432_8078723704160247690_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=clIxffERgM8AX8MOLKr&_nc_oc=AQmbaodpRD9IxG_bOUiNQq38fOX6NipLNwBe2qUKZ7BBVTaOxCmOriRNjVCPGXJ87KQ&_nc_ht=scontent.fskp4-1.fna&oh=00_AT_UUSEXV41kZ4VWGRtSLh0_80z1ThEgL81Wd-BfLp6zzg&oe=63202A26", alt="Kliko per te shitur veturen tende")


    if isFeatured.length > 0
        h1.most-visited Listimet më të vizituara
        hr.style-four
        .featured-products 
            each e in isFeatured 
                .single-prod-card-featured 
                    a(href="/products/"+e._id)     
                        h3.product-name=e.name
                    a(href="/products/"+e._id)
                        img(src="/images/products/"+e.image[0], alt=e.name) 
                    h4.price Cmimi : #{e.price} €
                    h4.shitesi Shitësi : #{e.seller}
                    h4.tel Tel : #{e.phone}
                    //- h4.location Lokacioni : #{e.location} 
 

    #sfc27jzcm8fk55n8cfhzm2c71getsa2cu6d.counter 
      a(href="").number 
        p.numberTxt Numri i vizitorëve 
        img(src="https://counter9.stat.ovh/private/freecounterstat.php?c=27jzcm8fk55n8cfhzm2c71getsa2cu6d", alt="")


  


    //- if all.length > 0
    //-   each u in all 
    //-     h3 #{u.username}

    footer.footer
      .column.footer
        h3.footer Rreth Nesh
        p.footer Etnik Zeqiri
        p.footer Nr tel : +389 76 224 065
        p.footer Emaili personal : etnikz2002@gmail.com
        p.footer Info Email : automk.info@gmail.com
        p.footer Developed By : Etnik Zeqiri
        p.footer 
 
      .column.footer
        h3.footer Shërbimet tona
        ul.footer
          li.footer
            a(href="/products" target="_blank").footer Shitni veturën tuaj në kohë më të shpejtë dhe pa shpenzime
          li.footer
            a(href="/reklamo/biznes" target="_blank").footer Reklamoni firmën tuaj dhe shtoni klientët tuaj
          li.footer
            a(href="/careers" target="_blank").footer Mundësi për tu punësuar ne firmën tonë

      .column.footer
        h3.footer Shërbime tjera
        ul.footer
          li.footer
            a.footer(href='https://kupivreki.netlify.app/' target="_blank") Kupi Vreki MK
          //- li.footer
          //- a.footer(href='#') link 2
          //- li.footer
          //-   a.footer(href='#') link 3
          //- li.footer
          //-   a.footer(href='#') link 4

          
      .column.footer
        h3.footer Dërgo një mesazh!
        form(action='https://formspree.io/f/mqkjpqyj' method='POST' )
          label()
            | Emaili juaj*
            input(type='email' name='name' class="form-control" required)
          br
          label
            | Mesazhi juaj*:
            br
            textarea(name='message' class="form-control" required)
          // your other form fields go here
          br
          button(type='submit' class="btn btn-success") Dërgo

            //-  a.bardh(href=`mailto:etnikz2002@gmail.com`) Dërgo
    //- if allUsers.length > 0
    //-   p= allUsers.length
    .bottom.footer
      p.footer.copyright &copy; copyright Etnik Zeqiri 2022

    
    