extends ../layout 
block content 
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js')
    .container
      .row
        .col-lg-12.text-center.my-2
          
      .portfolio-item.row
            each image,i in singleProduct.image

                .item.selfie.col-lg-3.col-md-4.col-6.col-sm
                  a.fancylight.popup-btn(href='/images/products/'+singleProduct.image[i], data-fancybox-group='light')
                    img.img-fluid(src="/images/products/"+singleProduct.image[i] alt=singleProduct.name,  style='width: 640px; height: 160px;')
        

    .product-wrapper-single
        .single-prod-card 
            h3=singleProduct.name
           
            //- .fotot
            //-     each image,i in singleProduct.image
            //-         a(href="/products/"+singleProduct._id)
            //-             img(id="openImage" src="/images/products/"+singleProduct.image[i], alt=singleProduct.name width='600', height='337', style='width: 600px; height: 337px;') 
            //-             br

            
            br
            h3.cmimi= 'Cmimi : ' + singleProduct.price + '€'
            h3.pershkrimi= 'Përshkrimi : ' + singleProduct.description 
            h3= 'Data e postimit : ' +  singleProduct.DATA
            h3.shitesi= 'Shitësi : ' +  singleProduct.seller 
            h3.shitesi= 'Qyteti : ' + singleProduct.location
            h3.tel= 'Tel : ' +  singleProduct.phone
            //- h3.shitesi= 'Kilometra te kaluara : ' + singleProduct.killometrazha + ' km'
            //- h3.shitesi= 'Viti i prodhimit : ' + singleProduct.year
            //- h3.shitesi= 'Fuqia e motorrit : ' + singleProduct.hp + ' hp'
            //- h3.shitesi= 'Transmetuesi : ' + singleProduct.menjachi
            //- h3.shitesi= 'Kubikazha : ' + singleProduct.kubikazha + ' cc'

            .board  
                div.cell= 'Kilometra të kaluara : ' + singleProduct.killometrazha
                    //- img(src="https://e7.pngegg.com/pngimages/376/197/png-clipart-car-gear-stick-manual-transmission-car-text-car.png", alt="")
                div.cell='Viti i prodhimit : ' + singleProduct.year
                div.cell= 'Kubikazha e motorrit : ' + singleProduct.kubikazha + ' cc'
                div.cell='Fuqia e motorrit : ' + singleProduct.hp + ' hp'
                div.cell= 'Lënda djegëse :  '  + singleProduct.karburanti
                div.cell= 'Transmetuesi : ' +singleProduct.transmetuesi

 
    


    //- table.table.align-middle.mb-0.bg-white
    //-   thead.bg-light
    //-     tr
    //-       th Name
    //-       th Title
    //-       th Status
    //-       th Position
    //-       th Actions
    //-   tbody
    //-     tr
    //-       td
    //-         .d-flex.align-items-center
    //-           img.rounded-circle(src='https://mdbootstrap.com/img/new/avatars/8.jpg' alt='' style='width: 45px; height: 45px')
    //-           .ms-3
    //-             p.fw-bold.mb-1 John Doe
    //-             p.text-muted.mb-0 john.doe@gmail.com
    //-       td
    //-         p.fw-normal.mb-1 Software engineer
    //-         p.text-muted.mb-0 IT department
    //-       td
    //-         span.badge.badge-success.rounded-pill.d-inline Active
    //-       td Senior
    //-       td
    //-         button.btn.btn-link.btn-sm.btn-rounded(type='button')
    //-           | Edit
    //-     tr
    //-       td
    //-         .d-flex.align-items-center
    //-           img.rounded-circle(src='https://mdbootstrap.com/img/new/avatars/6.jpg' alt='' style='width: 45px; height: 45px')
    //-           .ms-3
    //-             p.fw-bold.mb-1 Alex Ray
    //-             p.text-muted.mb-0 alex.ray@gmail.com
    //-       td
    //-         p.fw-normal.mb-1 Consultant
    //-         p.text-muted.mb-0 Finance
    //-       td
    //-         span.badge.badge-primary.rounded-pill.d-inline Onboarding
    //-       td Junior
    //-       td
    //-         button.btn.btn-link.btn-rounded.btn-sm.fw-bold(type='button' data-mdb-ripple-color='dark')
    //-           | Edit
    //-     tr
    //-       td
    //-         .d-flex.align-items-center
    //-           img.rounded-circle(src='https://mdbootstrap.com/img/new/avatars/7.jpg' alt='' style='width: 45px; height: 45px')
    //-           .ms-3
    //-             p.fw-bold.mb-1 Kate Hunington
    //-             p.text-muted.mb-0 kate.hunington@gmail.com
    //-       td
    //-         p.fw-normal.mb-1 Designer
    //-         p.text-muted.mb-0 UI/UX
    //-       td
    //-         span.badge.badge-warning.rounded-pill.d-inline Awaiting
    //-       td Senior
    //-       td
    //-         button.btn.btn-link.btn-rounded.btn-sm.fw-bold(type='button' data-mdb-ripple-color='dark')
    //-           | Edit




    script. 
         $('.portfolio-menu ul li').click(function(){
         	$('.portfolio-menu ul li').removeClass('active');
         	$(this).addClass('active');
         	
         	var selector = $(this).attr('data-filter');
         	$('.portfolio-item').isotope({
         		filter:selector
         	});
         	return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });